<!DOCTYPE html>
<html ng-app="MusicPlayer">
<head>
    <meta charset="utf-8">
    <title>Music Player</title>
    <link rel="stylesheet" href="style.css" media="all">
</head>
<body>

<h2>The second task</h2>
<pre>
2. С использованием KnockoutJS или AngularJS сделать реализацию музыкального плеера.

Обязательно:
- Кнопка play/pause
- Кнопка mute/unmute
- Длина композиции и текущая позиция
- Ползунок проигрывания с использованием < input type="range">

НЕ нужно делать:
- список треков
- несколько плееров на странице одновременно

НЕ нужно использовать:
- jQuery

Желательно:
- простой дизайн
- нейтральная композиция

</pre>
<h2>The result</h2>
<div ng-controller="PlayerController" class="player">
    <div class="progress">
        <label>time: <input min="0" max="{{duration}}" step="0.01" type="range" ng-model="currentTime" ng-change="changePosition()"/></label>
    </div>

    <div class="digits">{{currentTime * 1000 | date:'mm:ss'}} / {{duration * 1000 | date:'mm:ss'}}</div>

    <div class="buttons">
        <button class="playpause" ng-click="playpause()">
            <span ng-show="paused" class="play-text">play</span>
            <span ng-hide="paused" class="pause-text">pause</span>
        </button>
        <button class="muteunmute" ng-click="muteunmute()">
            <span ng-show="muted" class="unmute">unmute</span>
            <span ng-hide="muted" class="mute">mute</span>
        </button>
    </div>

    <div class="volume">
        <label>volume: <input min="0" max="1" step="0.01" type="range" ng-model="volume" ng-change="changeVolume()"/></label>
    </div>
</div>

<h2>The solution</h2>
<pre>
(function () {
    'use strict';
    angular.module('MusicPlayer', [])

        .controller('PlayerController', ['$scope', '$timeout', function ($scope, $timeout) {
            //https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement
            var audio = new Audio('Beethoven-Moonlight_Sonata.mp3');
            // The Model
            $scope.paused = audio.paused;
            $scope.muted = audio.muted;
            $scope.duration = audio.duration;
            $scope.currentTime = audio.currentTime;
            $scope.volume = audio.volume;

            // play/pause button
            $scope.playpause = function () {
                //audio.paused ? audio.play() : audio.pause();  //shorter, but suspiciously: can be cut off by the compiler
                if (audio.paused) {
                    audio.play();
                } else {
                    audio.pause();
                }
                $scope.paused = audio.paused;
            };

            // mute/unmute button
            $scope.muteunmute = function () {
                $scope.muted = audio.muted = !audio.muted;
            };

            // user changed current position
            $scope.changePosition = function () {
                audio.currentTime = this.currentTime;
            };

            // user changed volume
            $scope.changeVolume = function () {
                audio.volume = this.volume;
            };

            // get track duration before play
            audio.addEventListener('loadedmetadata', function () {
                var that = this;
                $timeout(function () {
                    $scope.duration = that.duration;
                });
            });

            // update current position - move the progressBar
            audio.addEventListener('timeupdate', function () {
                var that = this;
                $timeout(function () {
                    $scope.currentTime = that.currentTime;
                });
            });

            // track has finished -> moving to the start
            audio.addEventListener('ended', function () {
                $timeout(function () {
                    $scope.paused = true;
                    $scope.currentTime = 0;
                });
            });

        }]);

}());
</pre>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js" type="text/javascript"></script>
<script src="player.js" type="text/javascript"></script>
</body>
</html>